.heading{
    text-align:  center; 
    margin-bottom: 1%;
}
.checked {
    color:orange;
}
.block1{
    border-style:ridge ;
    width:35%;
    height:450px;
    float: left;
    border-radius: 20px;
    margin-right: 0.2%;
    margin-bottom:0.2%;
    margin-left: 13%;
}
.block2{
    width:35%;
    height:450px;
    float: left;
    border-radius: 19.5px;
    margin-left:4%;
    margin-bottom:1% ;
    border-style:ridge;
}
.block3{
    width:35%;
    height:450px;
    float:left;
    border-radius: 20px;
    margin-left: 13%;
    margin-right: 0.2%;
    margin-bottom:1%;
    border-style:ridge;
}
.block4{
    width:35%;
    height:450px;
    float:left;
    border-radius: 20px;
    margin-bottom: 1%;
    margin-left: 4%;
    border-style: ridge;
}
.block5{
    width:35%;
    height:450px;
    margin-left: 13%;
    float: left;
    margin-right: o.2%;
    border-radius: 20px;
    border-style: ridge;
}
.block6{

    width:35%;
    height:450px;
    margin-left: 4%;
    float: left;
    border-radius: 20px;
    border-style: ridge; 
}
.img1 {
    width: 110px;
    border-right: 1px solid black;
    display: inline-block;
}
.img2{
    width: 110px;
    border-right: 1px solid black;
     display: inline-flex;
}
.img3{
    width: 110px;
    border-right: 1px solid black;
     display: inline-flex;
}
.img4{
    width: 110px;
    border-right: 1px solid black;
     display: inline-flex;
}
.img5{
    width: 110px;
    border-right: 1px solid black;
     display: inline-flex;
}
.img6{
    width: 110px;
    border-right: 1px solid black;
     display: inline-flex;
}
.foot{
 margin-top: 110%;
 background-color: black;
 height: 5cm;
 width: 100%;
}
#image1{
    /* padding: 90px; */
    height: 100px;
    width: 100px;
     margin-left: 3%; 
    text-align: left;
     border-radius: 50% !important; 
}
#image2{
    /* 
    padding: 50px; */
   height: 100px;
   width: 100px;
   border-radius: 50%;
   margin-left: 3%;
   text-align: left;
    
}

#image3{
    height: 100px;
    width: 100px;
    /* padding: 50px; */
    margin-left: 3%;
    border-radius: 50%;
    text-align: left;
}
#image4{
    /* padding: 50px; */
    height: 100;
    width: 100;    
    margin-left: 3%;
    border-radius: 50%;
    text-align: left;
}
#image5{
    /* padding: 50px; */
border-radius: 50%;
    height: 100;
    width: 100; 
    margin-left: 3%;   
    text-align: left;
}
#image6{
    /* padding: 50px; */
    height: 100;
    width: 100;  
    border-radius: 50%;
    margin-left: 3%;
    text-align: left;
}